.grid
    display: grid
    grid-template-rows: repeat(3, 7em)
    grid-template-columns: repeat(3, 7em)
        
.players
    display: flex
    justify-content: space-between
    font-size: 1.2em
    > div
        display: flex
        align-items: center

        > svg
            width: 3.5em

.square
    display: inline-flex
    text-align: center
    align-items: center
    align-content: center
    flex-wrap: wrap
    // justify-content: space-around
    // padding: 0 0.3em

    > div
        width: 0.8em
        pointer-events: none

    &:hover
        cursor: pointer
        background: #e6e6e6
        transition: background 0.5s ease-out

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(7),
    &:nth-child(8)
        border-right: solid 1px black
    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6)
        border-bottom: solid 1px black

.mark
    width: 100%
    height: 100%
    display: block
    stroke-width: 1
    stroke: black
    fill: none

.x_stroke1
    transform-origin: 50% 50%
    stroke-dasharray: 40
    stroke-dashoffset: 40
    animation: stroke ease 0.55s forwards

.x_stroke2
    transform-origin: 50% 50%
    stroke-dasharray: 40
    stroke-dashoffset: 40
    animation: stroke 0.55s ease 0.2s forwards

.circle
    transform-origin: 50% 50%
    transform: rotate(-90deg)

@keyframes stroke
    100%
        stroke-dashoffset: 0